*.csproj
*.sln
Library/
obj/
.vs
.vsconfig
*.apk
Logs/
Temp
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/AppLovinSDK
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/AppLovinSDK.meta
Assets/AppLovinSdk/Plugins.meta
Assets/AppLovinSdk/README - UNITY PLUGIN MIGRATION INSTRUCTIONS.md
Assets/AppLovinSdk/README - UNITY PLUGIN MIGRATION INSTRUCTIONS.md.meta
Assets/AppLovinSdk/Scripts.meta
Assets/AppLovinSdk/Plugins/Android.meta
Assets/AppLovinSdk/Plugins/iOS.meta
Assets/AppLovinSdk/Plugins/Android/AndroidManifest.xml
Assets/AppLovinSdk/Plugins/Android/AndroidManifest.xml.meta
Assets/AppLovinSdk/Plugins/Android/applovin-sdk.aar
Assets/AppLovinSdk/Plugins/Android/applovin-sdk.aar.meta
Assets/AppLovinSdk/Plugins/Android/applovin-unity-plugin.aar
Assets/AppLovinSdk/Plugins/Android/applovin-unity-plugin.aar.meta
Assets/AppLovinSdk/Plugins/iOS/ALAdDelegateWrapper.h
Assets/AppLovinSdk/Plugins/iOS/ALAdDelegateWrapper.h.meta
Assets/AppLovinSdk/Plugins/iOS/ALAdDelegateWrapper.m
Assets/AppLovinSdk/Plugins/iOS/ALAdDelegateWrapper.m.meta
Assets/AppLovinSdk/Plugins/iOS/ALAppLovinLogger.h
Assets/AppLovinSdk/Plugins/iOS/ALAppLovinLogger.h.meta
Assets/AppLovinSdk/Plugins/iOS/ALAppLovinLogger.m
Assets/AppLovinSdk/Plugins/iOS/ALAppLovinLogger.m.meta
Assets/AppLovinSdk/Plugins/iOS/ALInterstitialCache.h
Assets/AppLovinSdk/Plugins/iOS/ALInterstitialCache.h.meta
Assets/AppLovinSdk/Plugins/iOS/ALInterstitialCache.m
Assets/AppLovinSdk/Plugins/iOS/ALInterstitialCache.m.meta
Assets/AppLovinSdk/Plugins/iOS/ALManagedLoadDelegate.h
Assets/AppLovinSdk/Plugins/iOS/ALManagedLoadDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/ALManagedLoadDelegate.m
Assets/AppLovinSdk/Plugins/iOS/ALManagedLoadDelegate.m.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinUnity.mm
Assets/AppLovinSdk/Plugins/iOS/AppLovinUnity.mm.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Info.plist
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Info.plist.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Modules.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAd.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAd.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdDisplayDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdDisplayDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdLoadDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdLoadDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdRewardDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdRewardDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdService.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdService.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdSize.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdSize.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdType.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdType.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdUpdateDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdUpdateDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdVideoPlaybackDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdVideoPlaybackDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdView.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdView.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdViewEventDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALAdViewEventDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCCommunicator.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCCommunicator.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCEntity.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCEntity.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCMessage.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCMessage.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCMessagingService.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCMessagingService.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCPublisher.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCPublisher.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCSubscriber.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALCSubscriber.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALErrorCodes.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALErrorCodes.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALEventService.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALEventService.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALEventTypes.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALEventTypes.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALIncentivizedInterstitialAd.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALIncentivizedInterstitialAd.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALInterstitialAd.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALInterstitialAd.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALMediationProvider.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALMediationProvider.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALNativeAd.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALNativeAd.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALNativeAdLoadDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALNativeAdLoadDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALNativeAdPrecacheDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALNativeAdPrecacheDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALNativeAdService.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALNativeAdService.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALPostbackDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALPostbackDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALPostbackService.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALPostbackService.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALPrivacySettings.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALPrivacySettings.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALSdk.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALSdk.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALSdkConfiguration.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALSdkConfiguration.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALSdkSettings.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALSdkSettings.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALUserService.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALUserService.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALVariableService.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/ALVariableService.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/AppLovinSDK.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/AppLovinSDK.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAAd.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAAd.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAAdDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAAdDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAAdFormat.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAAdFormat.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAAdView.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAAdView.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAAdViewAdDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAAdViewAdDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAErrorCodes.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAErrorCodes.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAInterstitialAd.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAInterstitialAd.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAReward.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MAReward.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MARewardedAd.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MARewardedAd.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MARewardedAdDelegate.h
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Headers/MARewardedAdDelegate.h.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Modules/module.modulemap
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDK.framework/Modules/module.modulemap.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/Assets.car
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/Assets.car.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/Info.plist
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/Info.plist.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/mute.caf
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/mute.caf.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/ALDMediatedNetworkViewController.nib.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/Info.plist
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/Info.plist.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/quf-ks-53r-view-BrY-ch-ahN.nib.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/ALDMediatedNetworkViewController.nib/objects-11.0+.nib
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/ALDMediatedNetworkViewController.nib/objects-11.0+.nib.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/ALDMediatedNetworkViewController.nib/runtime.nib
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/ALDMediatedNetworkViewController.nib/runtime.nib.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/quf-ks-53r-view-BrY-ch-ahN.nib/objects-11.0+.nib
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/quf-ks-53r-view-BrY-ch-ahN.nib/objects-11.0+.nib.meta
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/quf-ks-53r-view-BrY-ch-ahN.nib/runtime.nib
Assets/AppLovinSdk/Plugins/iOS/AppLovinSDKResources.bundle/ALDMediatedNetworkViewController.storyboardc/quf-ks-53r-view-BrY-ch-ahN.nib/runtime.nib.meta
Assets/AppLovinSdk/Scripts/AppLovin.cs
Assets/AppLovinSdk/Scripts/AppLovin.cs.meta
Assets/AppLovinSdk/Scripts/AppLovinEvents.cs
Assets/AppLovinSdk/Scripts/AppLovinEvents.cs.meta
Assets/AppLovinSdk/Scripts/Editor.meta
Assets/AppLovinSdk/Scripts/Editor/AppLovinPostProcessBuildiOS.cs
Assets/AppLovinSdk/Scripts/Editor/AppLovinPostProcessBuildiOS.cs.meta
Assets/Models/Civil Fighter/Textures/Terror_Body_Diffuse_Unity.tga.meta
Assets/Models/Civil Fighter/Textures/Terror_Body_Diffuse_Unity.tga
